<settings
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
        xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
    <profiles>
        <profile>
            <id>develop</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <pricefx-stream.url>${DEV_URL}</pricefx-stream.url>
                <pricefx-stream.partition>${DEV_PARTITION}</pricefx-stream.partition>
                <pricefx-stream.username>${DEV_USERNAME}</pricefx-stream.username>
                <pricefx-stream.password>${DEV_PASSWORD}</pricefx-stream.password>
            </properties>
        </profile>
        <profile>
            <id>qa</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <pricefx-stream.url>${QA_URL}</pricefx-stream.url>
                <pricefx-stream.partition>${QA_PARTITION}</pricefx-stream.partition>
                <pricefx-stream.username>${QA_USERNAME}</pricefx-stream.username>
                <pricefx-stream.password>${QA_PASSWORD}</pricefx-stream.password>
            </properties>
        </profile>
        <profile>
            <id>production</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <pricefx-stream.url>${PROD_URL}</pricefx-stream.url>
                <pricefx-stream.partition>${PROD_PARTITION}</pricefx-stream.partition>
                <pricefx-stream.username>${PROD_USERNAME}</pricefx-stream.username>
                <pricefx-stream.password>${PROD_PASSWORD}</pricefx-stream.password>
            </properties>
        </profile>
    </profiles>
</settings>
